@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700;800&family=Work+Sans:wght@400;500;600;700;800&display=swap');

*{
    font-family: 'Open Sans', sans-serif;
    font-family: 'Lato',sans-serif;
    font-family: 'Work sans',sans-serif;
}

/* header section style */
.header-first{
     display: flex;
     justify-content: space-around;
     background: #FFF;
     box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);
}
.header-start{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
   
}
.icon{
    width: 87px;
    height: 40px;
}
.header-title{
    text-align: center;
    font-size: 45px;
    font-weight: 700;
    display: flex;

}


.fun{
    color: #FF42A5;   
}
.list-item{
    display: flex;
    text-align: center;
    justify-content: space-between;
    list-style: none;
    gap: 24px;
    color: black;
}
/* we are gamer section style */
.gamer{
    display: flex;
    text-align: center;
    justify-content: space-around;
    background: linear-gradient(90deg, rgba(255, 66, 165, 0.03) 0%, rgba(255, 66, 165, 0.03) 100%);
   
}
.play-game{
    color: #FF42A5;
}

/* banner style section */
.banner-title{
    font-size: 95px;
    font-weight: 800;
    color: #FF42A5;
    margin-top: 0px;
    margin-bottom: 0px;
   
    
}
.btn-primary{
    border-radius: 48px;
    background-color: #FF42A5;
}
.btn-second{
    border-radius: 48px;
background: #4EC5F7;
}
nav > h3 img{
    display: flex;
}
.banner-content{
    display: flex;
    justify-content: space-around;
    background-image: url('../images/Group\ 14.png');
    
    
}
.first-section-heading{
    text-align: center;
}
.common{
    color: #FF42A5;
}
.image{
    display: flex;
    width: 100px;
    height: 200px;
    border-radius: 16px;
    gap: 24px;
    margin: 30px;
}
.image:hover{
    cursor: pointer;
    border-radius: 50px;
    background: #FFF;
}

.third-imgage:hover{
   background-color:  #000000;
   cursor: pointer;
}

.instant{
    display: flex;
    border-radius: 8px;
    margin-top: 300px;
    justify-content: space-around;

}
.instant-img{
    width: 500px;
    height: 500px;
}

.overflow{
    position: relative;
    width: 50px;
    height: 100px;
    left: 0px;
    top: 0px;
    z-index: -1;
}

.logo-add {
    display: flex;
    text-align: center;
    gap: 30px;
    justify-content: center;
}
.img-primary{
  display: flex;  
  text-align: center;
 justify-items: center;
}



footer{
    background-color: #000000;
}
.first-foot{
    text-align: center;
    align-items: center;
    justify-content: center;
    gap: 20px;
    color: white;
    
}
.footer-title{
    color: #FFFFFF;
}
 
.footer-header{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}
.footer-bar{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    list-style: none;
}
.footer-last{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 10px;
    color: #FFFFFF;
    list-style: none;
    gap: 20px;
}

.footer-finish{
    font-size: 10px;
    color: #FFFFFF;
}
.icon-added{
    gap: 30px;
    padding-right: 30px;
}

.serial-image{
    display: grid;
    gap: 3;
    grid-template-columns: repeat(5,1fr);
}
.image-overlay{
    background-image: url('../images/Rectangle\ 55.png');
    position: relative;
    height: 700px;
    width: 700px;
}
.image-overflow{
    width: 250px;
    height: 250px;
    position: absolute;
}

@media screen and (max-width: 576px) {
    
     .header-first
    
    {
        flex-direction: column;
    }
    .instant{
        flex-direction: column-reverse;
    }
    .list-item {
    flex-direction: column;
         
    }
    .header-start{
        flex-direction: row;
    }
    .banner-content{
        flex-direction: column-reverse;
    }
    .online-game{
        flex-direction: none;
        
    }
    .image{
        flex-direction: column;
        margin-top: 100px;
        margin-bottom: 100px;
    }
    
}